{
  "globals": {
    "ga": true,
    "chrome": true
  },
  "plugins": ["html", "json"],
  "settings": {
    "html/html-extensions": [".html", ".vue"]
  },
  "extends": "elemefe",
  "rules": {
    "no-restricted-globals": ["error", "event", "fdescribe"]
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "jsx": true
    }
  }
}
